<div id="help-btn" (click)="toggleNav()">
    <i class="fa fa-comments commenticon" id="comment" size="2x"></i>
    <!-- <i class="fa fa-whatsapp commenticon" id="comment" size="2x"></i> -->
    <i class="fa fa-minus-square" id="remove" size="2x"></i>
</div>

<div id="slide">
    <p>Would you like to contact us?</p>
    <a class="slide-btn" id="whatsapp" href="https://wa.me/+971564148786" target="_blank"><div><i class="fab fa-whatsapp"></i> Whatsapp</div></a>
    <a class="slide-btn" id="facebook" href="https://www.facebook.com/" target="_blank"><div><i class="fab fa-facebook"></i> Facebook</div></a>
    <!-- <a class="slide-btn" id="email" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sjbvphosahalli775@gmail.com&cc=vidyapeeth@sjbvphosahalli.com" target="_blank"><div><i class="now-ui-icons ui-1_email-85"></i> Email</div></a> -->
</div>

<div id="topscroll-btn" (click)="goTop()" >
    <!-- <i class="fa-solid fa-up-to-line" size="2x"></i> -->
    <i class="fas fa-arrow-up" id="comment" size="2x"></i>
</div>
