<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
    <!-- <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav> -->
  </div>
</div>
<!-- Page Header End -->


<!-- Facts Start -->
<section class="aboutus">
  <div class="container-xxl py-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-12">
          <h1 class="pb-5 text-dark text-center">Get To Know A Little About Us</h1>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
          <div class="h-100 border p-4 p-xl-5">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="btn-square rounded-circle bg-light" style="width: 64px; height: 64px;">
                <img class="img-fluid" src="{{baseUrl}}/source/images/icon/home-security.svg" alt="Icon">
              </div>
              <!-- <h1 class="display-1 mb-0" style="color: #000000;">01</h1> -->
            </div>
            <h5 class="">Home Security</h5>
            <hr class="w-25">
            <span class="">Vero elitr justo clita lorem ipsum dolor at sed stet sit diam rebum ipsum et diam
              justo clita et</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
          <div class="h-100 border p-4 p-xl-5">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="btn-square rounded-circle bg-light" style="width: 64px; height: 64px;">
                <img class="img-fluid" src="{{baseUrl}}/source/images/icon/acess-control.svg" alt="Icon">
              </div>
              <!-- <h1 class="display-1 mb-0" style="color: #000000;">02</h1> -->
            </div>
            <h5 class="">Access Control</h5>
            <hr class="w-25">
            <span class="">Vero elitr justo clita lorem ipsum dolor at sed stet sit diam rebum ipsum et diam
              justo clita et</span>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
          <div class="h-100 border p-4 p-xl-5">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <div class="btn-square rounded-circle bg-light" style="width: 64px; height: 64px;">
                <img class="img-fluid" src="{{baseUrl}}/source/images/icon/24-7-support.svg" alt="Icon">
              </div>
              <!-- <h1 class="display-1 mb-0" style="color: #000000;">03</h1> -->
            </div>
            <h5 class="">24/7 Support</h5>
            <hr class="w-25">
            <span class="">Vero elitr justo clita lorem ipsum dolor at sed stet sit diam rebum ipsum et diam
              justo clita et</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Facts Start -->


<!-- About Start -->
<!-- <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0"> -->
<div class="container-fluid about overflow-hidden my-5 px-lg-0">
  <div class="row g-0 mx-lg-0">
    <div class="col-lg-6 ps-lg-0 align-self-center" style="min-height: 400px;">
      <div class="position-relative">
        <img class="img-fluid w-100 " src="{{baseUrl}}/source/images/home/slider2.jpg" style="object-fit: cover;" alt="">
      </div>
    </div>
    <div class="col-lg-6 about-text  wow fadeIn align-self-center" data-wow-delay="0.5s">
      <div class="px-lg-5 pe-lg-0">
        <div class="bg-dark mb-3" style="width: 60px; height: 2px;"></div>
        <h4 class="display-5 mb-4 subheading">About Us</h4>
        <p class="mb-4 pb-2">Nexa Technologies is a leading Solution Provider in Information Technology space
          especially on IT-Infrastructure / Datacenter, UPS Solutions. Our experienced approach, focus on digital IT,
          global expertise of solution design, Integrity, project management and technical expertise, have positioned
          us an emerging IT provider.</p>
        <p class="mb-4 pb-2">Professional services capability sits at the core of our market offer, with a
          complementary portfolio of
          services, support, and technology solutions based around Industry Best Practices. Our customers trust not
          just in our ability to build solutions, but also in the way we design, implement and support these solutions
          that make their businesses run more efficiently.</p>
        <p class="mb-4 pb-2">Our exceptionally skilled, committed and talented team of consultants, engineers, project
          managers, and support teams integrate a wide range of technical, business and financial factors when
          designing the solution for your business.</p>
        <p class="mb-0">Our engineering teams have hands-on experience in all aspects of IT solutions,
          deployment, operational management, and maintenance support. Our world-class architects’ design solutions
          that fit best within your environment and help achieve your business goals.</p>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<section class="whyus">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 ps-lg-0   order-lg-2 order-md-1 order-sm-1 order-1  align-self-center" style="min-height: 400px;">
        <div class="position-relative">
          <img class="img-fluid w-100 " src="{{baseUrl}}/source/images/home/about3.jpg" style="object-fit: cover;"
            alt="">
        </div>
      </div>
      <div class="col-lg-6 about-text py-5 wow fadeIn   order-lg-1 order-md-2 order-sm-2 order-2 align-self-center" data-wow-delay="0.5s">
        <div class="p-lg-5 pe-lg-0">
          <div class="bg-dark mb-3" style="width: 60px; height: 2px;"></div>
          <h4 class="display-5 mb-4 subheading">Why Choose Us</h4>
          <p class="mb-4 pb-2">At Nexa, we customize our solutions to fit according to your needs, not the other way
            around. We go out of our way to understand how you work and the challenges you face to have a better
            understanding of your business. With the latest technology, affordable pricing, experienced technicians and
            dedicated service are all here to take you to the next level.</p>
          <p class="mb-4 pb-2">We believe in keeping our clients happy, and our history proves so. And our client case
            stories will support this too!</p>
          <p class="mb-4 pb-2">Nexa offers a full range of IT consulting, services, solutions and support services
            tailored to achieve results, match your priorities, and improve your organization’s productivity.</p>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="value py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-5 text-white">Our Vision, Mission And Values</h1>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-light mb-4">Our Vision</h5>
        <p class="mb-2">To be a trusted, global IT Solution and Services
          Partner for our esteemed customers and OEMs, committed to achieving client’s business objectives by delivering
          professional services & adopting innovative technologies.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-light mb-4">Our Mission</h5>
        <p class="mb-2">To be the Partner of Choice to the growing needs of customers by providing innovative business
          solutions, with our core competency of designing, a consultancy in digital transformation and implementing
          hardware/software solutions, providing Infrastructure optimization services and product development.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-light mb-4">Our Values</h5>
        <p class="mb-2">Customer first
          Quality is the ultimate
          Strive towards excellence
          Believe in innovation</p>
      </div>
    </div>
  </div>
</section>
<!-- About End -->

