.prodcut-tab{
  .cst-tab{
    border-bottom:#245c4e;
    margin-bottom: 10px;    
    border-bottom: 2px solid #245c4e;
    li{
      padding: 10px;
      margin: 0px 15px;
      a{
        color: #245c4e;
      }
      // &:hover, &:focus, &:active{
      //   background-color: #245c4e;
      //   a{
      //     color: #fff;
      //   }
      // }
    }
   
    }
    .tab-content{
      padding: 15px;
    }
}