.navbar-light .navbar-nav .nav-link {
  color: #545554;
  font-weight: 400 !important;
  &:hover,
  &:focus {
    color: #00714a !important;
  }
}
.navigation .dropdown-item {
  font-weight: 400 !important;
}
.navigation.sticky-top.bg-white {
  // display: block;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #969595;
  @media (max-width: 991px) {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-brand {
    img {
      width: 158px;
    }
  }
}

/*Module
*****************************************************/
.burger {
  cursor: pointer;
  width: 32px;
  height: 40px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
}
.burger span {
  display: block;
  background-color: #333333;
  height: 4px;
  border-radius: 4px;
  margin: 4px 3px;
  position: relative;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.burger.open span:first-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:last-child {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -9px;
}

.mainNav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.mainNav li {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  position: relative;
}
.mainNav li a {
  // color: #666666;
  color: #545554;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 400;
  &:hover,
  &:focus {
    color: #00714a;
  }
}
.mainNav li .node {
  line-height: 0px;
  transition: all 0.2s ease-out;
}
.mainNav li .toggle {
  position: absolute;
  right: 8px;
  // top: 8px;
  top: 10px;
  @media (max-width: 480px) {
    top: 0px;
  }
}
.mainNav > ul {
  border-top: 0px solid #666666;
}
.mainNav > ul > li {
  border-bottom: 0px solid #666666;
}
.mainNav > ul > li > .node {
  padding: 0px 20px;
}
.mainNav > ul > li ul > li {
  border-bottom: 0px solid #cfcfcf;
}
.mainNav > ul > li ul > li > .node {
  line-height: 0px;
  padding: 0px 20px;
}
.mainNav.open > ul {
  border-top-width: 1px;
}
.mainNav.open > ul > li {
  border-bottom-width: 1px;
}
.mainNav.open > ul > li > .node {
  line-height: 16px;
  padding: 20px 20px;
  @media (max-width: 480px) {
    padding: 10px 20px;
  }
}
.mainNav > ul > li .toggle.open + ul > li {
  border-bottom-width: 1px;
}
.mainNav > ul > li .toggle.open + ul > li > .node {
  line-height: 16px;
  // padding: 10px 20px;
  padding: 20px 30px;
  @media (max-width: 480px) {
    padding: 10px 30px;
  }
}

/*Break 2
*****************************************************/
@media (min-width: 760px) {
}

/*Break 3
*****************************************************/
.toggle1{
  width: 30px;
  z-index: 9;
  padding: 0;
  i{
    position: relative;
    z-index: 8;
  }
}
#siteheader {
  display: none;
  @media (max-width: 991px) {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    flex-direction: row-reverse;
    align-items: center;
    .mainNav {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1020;
      background: #fff;
      // top: 13.5%;
      top: 100%;

    }
    .mainNav.open{
      height: 94vh;
      overflow-y: scroll;
    }
    button.burger:focus {
      outline: none;
    }
  }
}

.item-category{
  padding: 0px 15px;
}

/* Navigation Sub
------------------------------------- */
nav.sub {
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
}

/* Navigation Main
------------------------------------- */
nav.main {
}
nav.main .nav-logo {
  max-width: 200px;
  width: 100%;
}
nav.main ul {
  padding-left: 0;
  list-style-type: none;
}
/* ------ Mega Menu ------ */
nav.main .megamenu {
  padding: 20px 20px;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  ul li a {
    text-decoration: none;
    color: #545554;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #00714a;
    }
  }
}
.navigation .dropdown-menu li:first-child{
  margin-top: 0;
}
.custom-brand {
  ul li {
    ul li {
      // background: #fff;
      // box-shadow: 0px 0px 15px silver;
      // margin: 15px;
      // padding: 5px;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      margin: 0;
      .card {
        width: 100%;
        height: 90%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          // width: 100%;
          width: 150px;
        }
      }
    }
  }
}
/* ------ Mid Menu ------ */
nav.main .midmenu {
  position: absolute;
  padding: 20px 20px;
  float: left;
  top: auto;
  left: auto;
  right: auto;
  max-width: 650px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.dropdown-menu.megamenu.midmenu.show {
  right: 0;
}
.dropdown-menu.show {
  right: 0;
}

.list-header {
  font-weight: 600;
  color: #00714a;
}


/******************mobile menu ******************/
.wrapper1{
  display: none !important;
}
@media(max-width:991px){
  nav {
    background-color: #fff;
    // height: 50px;
    height: 100%;
    padding: 0 16px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    /* fade in checked menu */
  }
  nav .m-menu__checkbox {
    display: none;
  }
  nav label.m-menu__toggle {
    cursor: pointer;
  }
  nav .m-menu {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 450px;
    width: calc(100vw - 30px);
    height: 100%;
    -moz-transform: translate3d(-450px, 0, 0);
    -o-transform: translate3d(-450px, 0, 0);
    -ms-transform: translate3d(-450px, 0, 0);
    -webkit-transform: translate3d(-450px, 0, 0);
    transform: translate3d(-450px, 0, 0);
    -moz-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    -webkit-transition: transform 0.35s;
    transition: transform 0.35s;
    z-index: 10;
    overflow: hidden;
    background-color: #fff;
  }
  nav .m-menu__overlay {
    background-color: rgba(103, 103, 103, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: none;
  }
  nav .m-menu__header {
    padding: 0 16px;
    height: 50px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
  }
  nav .m-menu__header span {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  nav .m-menu .m-menu {
    -moz-transform: translate3d(480px, 0, 0);
    -o-transform: translate3d(480px, 0, 0);
    -ms-transform: translate3d(480px, 0, 0);
    -webkit-transform: translate3d(480px, 0, 0);
    transform: translate3d(480px, 0, 0);
  }
  nav .m-menu ul {
    height: 100%;
    overflow-y: auto;
  }
  nav .m-menu ul li a, nav .m-menu ul li label {
    display: block;
    text-align: left;
    padding: 0 15px;
    line-height: 47px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
  }
  nav .m-menu ul li label.a-label__chevron::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-color: #333;
    border-style: solid;
    border-width: 1px 1px 0 0;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -5px;
    right: 16px;
  }
  nav .m-menu ul li .-invisible {
    border-bottom: 0;
  }
  nav .m-menu .m-menu label.m-menu__toggle {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0;
    padding: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  nav .m-menu__checkbox:checked ~ .m-menu__overlay {
    display: block;
    min-height: 100vh;
    height: 100%;
  }
  nav .m-menu__checkbox:checked ~ .m-menu {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    min-height: 100vh;
    height: 100%;
  }
  
  .wrapper {
    // width: 480px;
    // height: 667px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    width: 100%;
  }
  .wrapper1{

    position: fixed;
    z-index: 9;
    height: 100%;
    width: 100%;
    display: block !important;
  }
  .wrapper1.open{
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    width: 100%;
  }
  body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
}
/******************mobile menu ******************/