<!-- <header class="navigation sticky-top bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"> <img src="assets/source/images/logo.png" alt="logo" width="180px">
      </a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto mr-n0 mr-md-n3">

          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" >About</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#!" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Products <i class="tf-ion-chevron-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li class="dropdown dropdown-submenu dropright">
                <a [routerLink]="['/products']" class="dropdown-item">All Products</a>
              </li>
              <li class="dropdown dropdown-submenu dropright" *ngFor="let category of allcategories"><a
                  class="dropdown-item dropdown-toggle" [routerLink]="['/products',category._id,'category']"
                  routerLinkActive="router-link-active" id="dropdown0301" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">{{category.name}}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                  <li *ngFor="let subcategory of allsubcategories">
                    <a *ngIf="subcategory.parent_categoryId == category._id" class="dropdown-item"
                      [routerLink]="['/products',subcategory._id,'sub-category']" routerLinkActive="router-link-active">
                      {{subcategory.name}}
                    </a>
                  </li>

                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#!" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Brands <i class="tf-ion-chevron-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li class="dropdown dropdown-submenu" *ngFor="let brand of allbrands">
                <a class="dropdown-item dropdown-toggle" (click)="navigatetoBands(brand._id)" id="dropdown0302" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">{{brand.name}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services']" >Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>

        </ul>

      </div>
    </nav>

  </div>
</header>
<header id="siteheader" class="sticky-top bg-white">
  <a class="navbar-brand" href="index.html"> <img src="assets/source/images/logo.png" alt="logo" width="180px">
  </a>
  <div id="siteNav">
    <button id="mainNavBurger" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="mainNav">
      <ul>
        <li >
          <a class="node" href="index.html">Home</a>
        </li>
        <li >
          <a class="node" [routerLink]="['/about']" >About</a>
        </li>
        <li>
          <a class="node" href="#">Products</a>
          <button class="btn toggle"><i class="fa fa-angle-down"></i></button>
          <ul>
            <li><a [routerLink]="['/products']" class="node">All Products</a></li>
            <li  *ngFor="let category of allcategories">
              <a  class="node" href="javascript:void(0);">{{category.name}}</a>
              <button class="toggle btn"><i class="fa fa-angle-down"></i></button>
              <ul>
                <li *ngFor="let subcategory of allsubcategories"><a *ngIf="subcategory.parent_categoryId == category._id" class="node" [routerLink]="['/products',subcategory._id,'sub-category']" routerLinkActive="router-link-active">
                  {{subcategory.name}}</a></li>
              </ul>
            </li>
           
          </ul>
        </li>
        <li>
          <a href="#" class="node">Brands</a>
          <button class="toggle btn"><i class="fa fa-angle-down"></i></button>
          <ul>
            <li *ngFor="let brand of allbrands"><a class="node" (click)="navigatetoBands(brand._id)">{{brand.name}}</a></li>
        
          </ul>
        </li>
        <li>
          <a class="node" [routerLink]="['/services']">Services</a>
        </li>
        <li>
          <a class="node" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->

<!-- newly added  -->
<!-- <header>
  <nav class="navbar navbar-light bg-light navbar-expand-lg" id="myNavbar">
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    
    <a href="#" class="navbar-brand">Navbar Brand</a>
    <div class="collapse navbar-collapse" id="mainNav">
     <ul class="navbar-nav ml-auto nav-fill">
      
      <li class="nav-item px-4">
       <a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item px-4 dropdown">
       <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
       <div class="dropdown-menu dropdown-menu-right" aria-labelledby="servicesDropdown">
        <a class="dropdown-item" href="#">What we do</a>
        <a class="dropdown-item" href="#">How we fit your needs</a>
        <div class="dropdown-divider"></div>
        <div class="d-md-flex align-items-start justify-content-start">
         <div>   
          <div class="dropdown-header">Development</div>
          <a class="dropdown-item" href="#">Bespoke software</a>
          <a class="dropdown-item" href="#">Mobile apps</a>
          <a class="dropdown-item" href="#">Websites</a>
         </div>
         <div>
          <div class="dropdown-header">Professional Services</div>
          <a class="dropdown-item" href="#">Project rescue</a>
          <a class="dropdown-item" href="#">Source code recovery</a>
          <a class="dropdown-item" href="#">Application support &amp; maintenance</a>
         </div>
         <div>
          <div class="dropdown-header">Fixed Price Services</div>
          <a class="dropdown-item" href="#">Add cookie consent</a>
          <a class="dropdown-item" href="#">Add captcha</a>
          <a class="dropdown-item" href="#">Add core data</a>
          <a class="dropdown-item" href="#">Custom error pages</a>
          <a class="dropdown-item" href="#">Contact form creation</a>
          <a class="dropdown-item" href="#">Automated backups</a>
          <a class="dropdown-item" href="#">Image to HTML</a>
         </div>
        </div>
       </div>
      </li>
      <li class="nav-item px-4">
       <a href="#" class="nav-link">Contact</a>
      </li>
      <li class="nav-item px-4">
       <a href="#" class="nav-link">Blog</a>
      </li>
     </ul>
    </div>
   </nav>
</header> -->

<header class="navigation sticky-top bg-white">
  <nav class="navbar navbar-expand-lg navbar-light main w-100">
    <div class="container">
      <a class="navbar-brand" href="index.html"> <img src="assets/source/images/logo.png" alt="logo" width="180px">
      </a>
      <button class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-n0 mr-md-n3">

          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown"
              role="button">Products</a>
            <ul class="dropdown-menu megamenu">
              <div class="row">
                <li class="col-md-2" *ngFor="let category of allcategories">
                  <ul>
                    <h6 class="list-header" [routerLink]="['/products',category._id,'category']">{{category.name}}</h6>
                    <hr>
                    <li *ngFor="let subcategory of allsubcategories">
                      <a *ngIf="subcategory.parent_categoryId == category._id"
                        [routerLink]="['/products',subcategory._id,'sub-category']">{{subcategory.name}}</a>
                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </li>
          <li class="nav-item dropdown position-static custom-brand">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown"
              role="button">Brands</a>
            <ul class="dropdown-menu megamenu">
              <div class="">
                <li class="col-md-12">
                  <ul class="row">
                    <li class="col-md-2" *ngFor="let brand of allbrands">
                      <a (click)="navigatetoBands(brand._id)">
                        <div class="card">
                          <img src="{{backendUrl}}{{brand.icon}}" alt="icons">
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services']">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
<!-- mobile menu -->
<!-- mobile menu -->

<!-- mobile menu -->
<!-- mobile2 menu -->
<div class="wrapper1 navigation sticky-top bg-white">
  <nav>
    <a class="navbar-brand" href="index.html"> <img src="assets/source/images/logo.png" alt="logo" width="180px">
    </a>
    <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox">
    <label class="m-menu__toggle" for="menu">
      <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="butt"
        stroke-linejoin="arcs">
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </label>
    <label class="m-menu__overlay" for="menu"></label>

    <div class="m-menu">
      <div class="m-menu__header">
        <label class="m-menu__toggle" for="menu">
          <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2"
            stroke-linecap="butt" stroke-linejoin="arcs">
            <line x1="18" y1="6" x2="6" y2="18"></line>
            <line x1="6" y1="6" x2="18" y2="18"></line>
          </svg>
        </label>
        <span>MENU</span>
      </div>
      <ul>
        <li><label>Home</label></li>
        <li><label>About</label></li>
        <li>
          <label class="a-label__chevron" for="item-2">Products</label>
          <input type="checkbox" id="item-2" name="item-2" class="m-menu__checkbox">
          <div class="m-menu">
            <div class="m-menu__header">
              <label class="m-menu__toggle" for="item-2">
                <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2"
                  stroke-linecap="butt" stroke-linejoin="arcs">
                  <path d="M19 12H6M12 5l-7 7 7 7" />
                </svg>
              </label>
              <span>Categories</span>
            </div>
            <ul>
              <li *ngFor="let category of allcategories">
                <label class="a-label__chevron" for="item-2-3">{{category.name}}</label>
                <input type="checkbox" id="item-2-3" name="item-2" class="m-menu__checkbox">
                <div class="m-menu">
                  <div class="m-menu__header">
                    <label class="m-menu__toggle" for="item-2-3">
                      <svg width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2"
                        stroke-linecap="butt" stroke-linejoin="arcs">
                        <path d="M19 12H6M12 5l-7 7 7 7" />
                      </svg>
                    </label>
                    <span>Sub-Categories </span>
                  </div>
                  <ul>
                    <li *ngFor="let subcategory of allsubcategories"><label [routerLink]="['/products',subcategory._id,'sub-category']">{{subcategory.name}}</label></li>
                  </ul>
                </div>
              </li>
              </ul>
          </div>
        </li>
        <li><label>Brands</label></li>
        <li><label>Services</label></li>
        <li><label>Contact</label></li>
      </ul>
    </div>
  </nav>
</div>
<!-- mobile2 menu -->
<!-- mobile menu -->
 