<header class="navigation sticky-top bg-white">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"> <img src="assets/source/images/logo.png" alt="logo" width="180px">
      </a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto mr-n0 mr-md-n3">

          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']" >About</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#!" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Products <i class="tf-ion-chevron-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li class="dropdown dropdown-submenu dropright">
                <a [routerLink]="['/products']" class="dropdown-item">All Products</a>
              </li>
              <li class="dropdown dropdown-submenu dropright" *ngFor="let category of allcategories"><a
                  class="dropdown-item dropdown-toggle" [routerLink]="['/products',category._id,'category']"
                  routerLinkActive="router-link-active" id="dropdown0301" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">{{category.name}}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                  <li *ngFor="let subcategory of allsubcategories">
                    <a *ngIf="subcategory.parent_categoryId == category._id" class="dropdown-item"
                      [routerLink]="['/products',subcategory._id,'sub-category']" routerLinkActive="router-link-active">
                      {{subcategory.name}}
                    </a>
                  </li>

                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#!" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Brands <i class="tf-ion-chevron-down"></i></a>
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li class="dropdown dropdown-submenu" *ngFor="let brand of allbrands">
                <a class="dropdown-item dropdown-toggle" [routerLink]="['/products',brand._id,'brand']"
                  routerLinkActive="router-link-active" id="dropdown0302" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">{{brand.name}}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/services']" >Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>

        </ul>

      </div>
    </nav>

  </div>
</header>
<header id="siteheader" class="sticky-top bg-white">
  <a class="navbar-brand" href="index.html"> <img src="assets/source/images/logo.png" alt="logo" width="180px">
  </a>
  <div id="siteNav">
    <button id="mainNavBurger" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav class="mainNav">
      <ul>
        <li >
          <a class="node" href="index.html">Home</a>
        </li>
        <li >
          <a class="node" [routerLink]="['/about']" >About</a>
        </li>
        <li>
          <a class="node" href="#">Products</a>
          <button class="btn toggle"><i class="fa fa-angle-down"></i></button>
          <ul>
            <li><a [routerLink]="['/products']" class="node">All Products</a></li>
            <!-- <li><a href="#" class="node" *ngFor="let category of allcategories"  [routerLink]="['/products',category._id,'category']">{{category.name}}</a></li> -->
            <li  *ngFor="let category of allcategories">
              <a  class="node" href="javascript:void(0);">{{category.name}}</a>
              <button class="toggle btn"><i class="fa fa-angle-down"></i></button>
              <ul>
                <li *ngFor="let subcategory of allsubcategories"><a *ngIf="subcategory.parent_categoryId == category._id" class="node" [routerLink]="['/products',subcategory._id,'sub-category']" routerLinkActive="router-link-active">
                  {{subcategory.name}}</a></li>
                <!-- <li><a href="#" class="node">Sub sub Link</a></li> -->
              </ul>
            </li>
            <!-- <li><a href="#" class="node">Sub Link</a></li> -->
            
          </ul>
        </li>
        <li>
          <a href="#" class="node">Brands</a>
          <button class="toggle btn"><i class="fa fa-angle-down"></i></button>
          <ul>
            <li *ngFor="let brand of allbrands"><a class="node" [routerLink]="['/brands',brand._id]"
              routerLinkActive="router-link-active">{{brand.name}}</a></li>
            <!-- <li><a href="#" class="node">Sub sub Link</a></li> -->
          </ul>
        </li>
        <li>
          <a class="node" [routerLink]="['/services']">Services</a>
        </li>
        <li>
          <a class="node" [routerLink]="['/contact']">Contact</a>
        </li>
        <!-- <li>
          <a class="node" href="#">Roles</a>
          <button class="toggle">toggle</button>
          <ul>
            <li><a href="#" class="node">Sub Link</a></li>
            <li><a href="#" class="node">Sub Link</a></li>
            <li><a href="#" class="node">Sub Link</a></li>
            <li><a href="#" class="node">Sub Link</a></li>
          </ul>
        </li>
        <li>
          <a class="node" href="#">Agile @ Scotia</a>
        </li> -->
      </ul>
    </nav>
  </div>

</header>