<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      
      <div class="col-lg-5 col-sm-6 mb-5">
        <h2 class="font-weight-bold mb-4">Central Office</h2>
        <ul class="list-unstyled contact-list">
          <li class="mb-3"><a href="tel:+971564148786" class="d-flex align-items-center">
            <!-- <i class="tf-ion-ios-telephone mr-2"></i> -->
            <i class="fa fa-mobile cstmbl mr-2"></i> +971 564 148786 
          </a></li>
          <li class="mb-3"><a href="mailto:sales@nexait.ae"><i class="tf-ion-email mr-2"></i>sales@nexait.ae</a></li>
          <li class="mb-3"><i class="tf-ion-ios-location mr-2"></i>Dubai
          </li>
        </ul>
      </div>
      
      <div class="col-lg-3 col-sm-6 mb-5">
        
        <h2 class="font-weight-bold mb-4">Opening Hours</h2>
        <ul class="list-unstyled">
          
          <li class="mb-2">Monday: 9:00 am – 7:00 pm</li>
          
          <li class="mb-2">Tuesday: 9:00 am – 7:00 pm</li>
          
          <li class="mb-2">Wednesday: 9:00 am – 7:00 pm</li>
          
          <li class="mb-2">Thursday: 9:00 am – 7:00 pm</li>
          
          <li class="mb-2">Friday: 9:00 am – 7:00 pm</li>
          
          <li class="mb-2">Saturday: 9:00 am – 7:00 pm</li>
          
          <!-- <li class="mb-2">Sunday: 9:00 am – 7:00 pm</li> -->
          
        </ul>
        
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">Contact</h2>
        <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()" class="row">
          <div class="col-lg-6 mb-3">
            <input type="text" formControlName="name" class="form-control mb-2" id="name" name="name" placeholder="Your Name" required>
            <div *ngIf="submitted && hasError('name','required')" class="error">
              <div class="errormsg">
                Name is required.
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <input type="number" formControlName="phone" class="form-control mb-2" id="phone" name="phone" placeholder="Your Phone Number" required>
            <div *ngIf="submitted && hasError('phone','required')" class="error">
              <div class="errormsg">
                Phone Number is required.
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-3">
            <input type="email" formControlName="email" class="form-control mb-2" id="email" name="email" placeholder="Your Email" required>
              <div *ngIf="submitted && hasEmailError('email','required')" class="error">
                <div class="errormsg">
                  {{hasEmailError('email','required')}}
                </div>
              </div>
          </div>
          <div class="col-lg-6 mb-3">
            <select name="subject" formControlName="subject" class="form-control mb-2" id="subject">
              <option value="">Select Subject</option>
              <option value="sales_support">Sales Support</option>
              <option value="service_support">Service Support</option>
            </select>
            <div *ngIf="submitted && hasError('subject','required')" class="error">
              <div class="errormsg">
                Subject is required.
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <textarea name="message" formControlName="message" id="message" class="form-control mb-2" placeholder="Your Message" required></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="submit" value="send" class="btn btn-main btn-main-sm">Send Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>