<section class="section gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="category-sidebar">
              <div class="widget category-list">
                <h4 class="widget-header">All Category</h4>
                <!-- <ul class="category-list">
                  <li class="dropdown dropdown-submenu dropright" *ngFor="let category of allcategories">
                    <a (click)="selectCategory(category)">{{category.name}}
                      <span>{{getCategoryLength(category._id)}}</span></a>
                  </li>
                </ul> -->
                <!-- <div class="category-list" *ngFor="let category of allcategories">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="category" value="{{category.name}}"
                    (click)="selectCategory(category)">
                    {{category.name}}
                  </label>
                  <span class="category-count">{{getCategoryLength(category._id)}}</span>
                </div> -->
                 <ul class="category-list">
                  <li class="dropdown dropdown-submenu dropright form-check" *ngFor="let category of allcategories">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="category" value="{{category.name}}"
                        (click)="selectCategory(category)">
                        {{category.name}}
                      </label>
                      <span>{{getCategoryLength(category._id)}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="category-sidebar">
              <div class="widget product-shorting">
                <h4 class="widget-header">By Brand</h4>
                <div class="form-check" *ngFor="let brand of allbrands">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="brand" value="{{brand.name}}"
                    (click)="selectBrand(brand)">
                    {{brand.name}}
                  </label>
                </div>
              </div>
            </div>
            <div class="category-sidebar">
              <div class="widget price-range w-100">
                <h4 class="widget-header">Price Range</h4>
                <div class="block pl-0 pr-0">
                  <!-- <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
                  Selected Value: {{value}} -->
                  <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (click)="selectPrice()"></ngx-slider>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-8">
            <div class="category-search-filter cst-category-search-filter mb-5">
              <div class="row">
                <div class="col-md-6 col-sm-6 text-center text-md-left text-sm-left">
                  <strong>Short</strong>
                  <select name="sort" id="" (change)="getFilterdProducts($event)">
                    <option value="A-Z">Alphabetically, A-Z</option>
                    <option value="Z-A">Alphabetically, Z-A</option>
                    <option value="L-H">Price, low to high</option>
                    <option value="H-L">Price, high to low</option>
                    <option value="new">Date, old to new</option>
                    <option value="old">Date, new to old</option>
                  </select>
                </div>
                <div class="col-md-6 col-sm-6 text-center text-md-right text-sm-right mt-2 mt-md-0">
                  <div class="view">
                    <div class="count">
                      <p>Total Products : {{products.length}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 mb-4" *ngFor="let product of products">
                <div class="card">
                  <div class="block">
                    <a href="product-details/{{product._id}}" class="gallery-popup">
                      <img class="img-fluid" src="{{backendURL}}/{{product.image}}" alt="">
                    </a>
                  </div>
                  <div class="product-info">
                    <h4 class="mb-2">
                      <a href="product-details/{{product._id}}" class="link-title">{{product.name}}</a>
                    </h4>
                    <p class="price"><span>AED</span> {{product.sale_price}}
                      <s class="price"> <span>AED</span> {{product.regular_price}}</s>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="nexait-pagination" *ngIf="totalRecord > 0">
  <app-pagination #pagination [initialPage]="currentPage" [count]="totalRecord"
      (changePage)="onListChangePage($event)"></app-pagination>
</div>