<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-6  mb-5">
        <!-- text-center <h1 class="font-weight-bold">All latest Smart Watch</h1> -->
        <div class="filter">
          <p>Sort :
            <select name="sort" id="" (change)="getFilterdProducts($event)">
              <option value="A-Z">Alphabetically, A-Z</option>
              <option value="Z-A">Alphabetically, Z-A</option>
              <option value="L-H">Price, low to high</option>
              <option value="H-L">Price, high to low</option>
              <option value="new">Date, old to new</option>
              <option value="old">Date, new to old</option>
            </select>
          </p>
        </div>
      </div>
      <div class="col-6 text-right">
        <!-- text-center <h1 class="font-weight-bold">All latest Smart Watch</h1> -->
        <div class="count">
          <p>Total Products : {{products.length}}
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4" *ngFor="let product of products">
        <div class="card">

          <div class="block">
            <a href="product-details/{{product._id}}" class="gallery-popup">
              <img class="img-fluid" src="{{backendURL}}/{{product.image}}" alt="">
            </a>
          </div>

          <div class="product-info">
            <h4 class="mb-2">
              <a href="product-details/{{product._id}}" class="link-title">{{product.name}}</a>
            </h4>
            <p class="price"><span>AED</span> {{product.sale_price}}
              <s class="price"> <span>AED</span> {{product.regular_price}}</s>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>