.page-header {
  background: linear-gradient(rgba(22, 22, 22, .7), rgba(22, 22, 22, .7)), url(../../assets/source/images/about.jpg) center center no-repeat;
  
  background-size: cover;
  background-attachment: fixed;
}