<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
  <div class="container py-5">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
    <!-- <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav> -->
  </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<!-- <div class="container-xxl py-5" id="our-services">
  <div class="container">
    <div class="text-center">
      <div class="bg-dark mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
      <h1 class="display-5 mb-5">Our Services</h1>
    </div>
    <div class="row g-0 service-row">
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.7s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/data-centeres.svg" alt="Icon">
          </div>
          <h4 class="mb-3">DATA CENTERS</h4>
          <p class="mb-4">Datalink helps equip enterprises with data center infrastructure (server,storage,network &
            software) to support business initiatives, competitive capabilities and customer experience.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.7s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/virtualization.svg" alt="Icon">
          </div>
          <h4 class="mb-3">VIRTUALIZATION</h4>
          <p class="mb-4">From design to implementation, we intensively engage the client in order to deliver
            streamlined virtual environment that meets all their needs.</p>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/cloud-solution.svg" alt="Icon">
          </div>
          <h4 class="mb-3">CLOUD SOLUTIONS</h4>
          <p class="mb-4">We install cctv cameras and set up access control systems to enable you to cost effectively
            monitor and protect your business</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.5s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/wireless-networks.svg" alt="Icon">
          </div>
          <h4 class="mb-3">WIRELESS NETWORKS</h4>
          <p class="mb-4">We offer a wide range of electrical services including installation of low to high voltage
            distribution and end usage devices.

          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.7s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/cybersecurity-solutions.svg" alt="Icon">
          </div>
          <h4 class="mb-3">CYBERSECURITY SOLUTIONS</h4>
          <p class="mb-4">Datalink is well experienced, with certified expertise in deploying wireless LAN solutions and
            structured cabling to enable wireless communication.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/structure-cabling.svg" alt="Icon">
          </div>
          <h4 class="mb-3">STRUCTURED CABLING</h4>
          <p class="mb-4">We provide structured cabling and Fiber Optics Cabling installation solutions to our clients
            on time, on budget and on their terms.

          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- Service End -->
<!-- Service Start -->
<div class="container-xxl py-5" id="our-services">
  <div class="container">
    <div class="text-center">
      <div class="bg-dark mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
      <h1 class="display-5">Our Services</h1>
      <p class="mb-5">Maximizing Your Business Potential with Comprehensive Computer Sales and Service.</p>
    </div>
    <div class="row g-0 service-row">
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.7s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/data-centeres.svg" alt="Icon">
          </div>
          <h4 class="mb-3">MANAGED IT SERVICES</h4>
          <p class="mb-4">We understand your unique requirements, keep endpoints up-to-date, and deliver uptime giving you peace of mind..</p>
          <!--<a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.7s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/virtualization.svg" alt="Icon">
          </div>
          <h4 class="mb-3">VIRTUALIZATION</h4>
          <p class="mb-4">You have more control over deploying, configuring, and using your IT resources while working in virtualized environments..</p>
          <!--<a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.1s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/cloud-solution.svg" alt="Icon">
          </div>
          <h4 class="mb-3">CLOUD SOLUTIONS</h4>
          <p class="mb-4">Our Cloud managed services make it possible for organizations to reduce their overheads and better productivity, in addition to lowering costs and reducing time-to-market.</p>
          <!--<a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.5s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/wireless-networks.svg" alt="Icon">
          </div>
          <h4 class="mb-3">WIRELESS NETWORKS</h4>
          <p class="mb-4">The wireless network is the backbone of your enterprise. Each enterprise has its own bandwidth, security, and coverage requirements.Make sure that your wireless network is designed and maintained by Lowry to ensure peak performance.
          </p>
          <!--<a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.7s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/cybersecurity-solutions.svg" alt="Icon">
          </div>
          <h4 class="mb-3">CYBERSECURITY</h4>
          <p class="mb-4">Our Cyber security solutions are tools and services that help protect organizations against cyber attacks, which can result in application downtime, theft of sensitive data, damage to reputation, compliance fines, and other adverse consequences.</p>
          <!--<a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>-->
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
        <div class="service-item border h-100 p-5">
          <div class="btn-square bg-light rounded-circle mb-4" style="width: 64px; height: 64px;">
            <img class="img-fluid" src="{{baseUrl}}/source/images/icons/structure-cabling.svg" alt="Icon">
          </div>
          <h4 class="mb-3">STRUCTURED CABLING</h4>
          <p class="mb-4">We provide you designed and installed structured cabling system that provides an infrastructure that delivers predictable performance as well as has the flexibility to accommodate moves, additions, and changes..
          </p>
          <!--<a class="btn" href=""><i class="fa fa-arrow-right text-white me-3"></i>Read More</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->