<section class="banner">
  <div class="col-md-12 p-0">
    <div class="banner-block">
      <img class="img-fluid w-100" src='{{backendUrl}}/{{brands.image}}' />
    </div>
  </div>
</section>
<section class="brand-details" *ngIf="brands">
  <div class="container">
    <div class="col-lg-12" >
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 align-self-center">
          <div>
            <img class="img-fluid w-100" src='{{backendUrl}}/{{brands.image_desc}}' />
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h1 class="mb-4">{{brands.name}}</h1>
          <p [innerHtml]="brands.description"></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 mb-4" *ngFor="let product of products">
        <div class="card">
          <div class="block">
            <a [routerLink]="['/product-details']" [queryParams]="{ sequence_number: product.sequence_number}" class="gallery-popup">
              <img class="img-fluid" src="{{backendUrl}}/{{product.image}}" alt="">
            </a>
          </div>
          <div class="product-info">
            <h4 class="mb-2">
              <a [routerLink]="['/product-details']" [queryParams]="{ sequence_number: product.sequence_number}" class="link-title">{{product.name}}</a>
            </h4>
            <p class="price"><small>AED </small> {{product.sale_price}}
              <s class="price" *ngIf="product.product_discount > 0"> <span> AED </span> {{product.regular_price}}</s>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="products.length > 29 ">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="view">
          <div class="count">
            <button type="button" class="snipcart-add-item btn btn-main mb-5" (click)="loadMore()">Load More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>