.sticky-top1{
  position: sticky;
  top: 70px;
  z-index: 1010;
  background-color: #fff;
}
#features{
.main-heading{
  color: #fff;
}
img{
  width: 100%;
  // height: 300px;
}
.image{
  margin: 15px 0;
  position: relative;
  width: 100%;
  overflow: hidden;
  .overlay {
    position: absolute;
    bottom: 0;
    // padding-left: 25px;
    // padding-top: 15px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    z-index: 5;
    &::before{
      content: "";
      background: #ffff;
      height: 100%;
      width: 100%;
      z-index: 1;
      position: absolute;
      left:0;
      bottom: -150px;
      z-index: -2;
      opacity: 0.5;
      transition: all 0.3s ease-out;
    }
  }
}
.image:hover .overlay{
  color: black;
}
.image:hover .overlay .amount,
.image:hover .overlay .h4,
.image:hover .overlay p {
  color: black;
}

.image:hover .overlay::before{
  bottom: 0px;
} 
}
.feature-list.section{
padding-left: 30px;
padding-right: 30px;
}

 p, h1,h2,h3,h4 {
  color: #245C4E;
 }
 .testimonials .testimonial-block p{
  color: #245C4E;
 }
 .testimonials .testimonial-block .author-details span{
  color: #245C4E;
 }
 .home-icon{
  width: 30px;
  height: 30px;
 }