.sticky-top1 {
  position: sticky;
  // top: 70px;
  // top: 84px;
  // top: 68px; 28-12-2022
  top: 80px;
  z-index: 1010;
  background-color: #fff;
  @media (max-width: 991px) {
    display: none;
  }
  .navbar-nav .nav-link {
    padding: 10px 30px !important;
    font-weight: 400;
    text-align: center;
    &:hover, &:focus{
      color: #00714a;
    }
  }
}
.heading {
  @media (max-width: 991px) {
    padding-bottom: 15px !important;
  }
  h2 {
    font-weight: 400 !important;
  }
}
.customslider {
  @media (max-width: 991px) {
    margin-top: 80px;
  }
}

#features {
  background: #edebe9;
  // background: #00714a;
  .main-heading {
    color: #000;
    font-weight: 400 !important;
  }
  img {
    width: 100%;
    // height: 300px;
  }
  .image {
    margin: 15px 0;
    position: relative;
    background: #fff;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 408px;
    // min-height: 385px;
    height: 100%;
    box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
    border-radius: 30px 0px 0px 0px;
    // cursor: pointer;
    // border: 1px solid #fff;
    // @media (max-width: 991px) {
    //   min-height: 403px;
    //   height: 100%;
    // }
    @media (max-width: 767px) {
      min-height: 100%;
      height: 100%;
    }
    .overlay {
      // position: absolute;
      position: relative;
      bottom: 0;
      // padding-left: 25px;
      // padding-top: 15px;
      width: 100%;
      // color: #fff;
      color: #000;
      font-size: 20px;
      z-index: 5;
      &::before {
        // content: "";
        // background: #ffff;
        background: #000;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: -150px;
        z-index: -2;
        opacity: 0.8;
        transition: all 0.3s ease-out;
        padding: 10px 5px;
      }
      h4,
      p {
        padding: 0px 24px;
        font-size: 14px;
      }
    }
  }
  .image:hover .overlay {
    color: black;
    // color: #fff;
  }
  .image:hover .overlay .amount,
  .image:hover .overlay .h4,
  .image:hover .overlay p {
    color: black;
    // color: #fff;
  }

  .image:hover .overlay::before {
    bottom: 0px;
  }
}
.btn-main:hover,
.btn-main:focus {
  background-color: #00714a;
}
.feature-list.section {
  padding-left: 30px;
  padding-right: 30px;
  .showbtn {
    border: 2px solid #00714a;
    border-radius: 30px 0px 0px;
    color: #00714a;
    background: transparent;
    // color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    display: block;
    padding: 9px 15px;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
    &:hover {
      background: #00714a;
      box-shadow: 0 5px 10px #99b9ae;
      color: #fff;
      // font-weight: 500;
    }
  }
  h4.subheading {
    color: #000;
    padding-bottom: 0;
    line-height: normal;
    font-weight: 300;
  }
  p {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content {
    padding: 0px 50px;
    @media (max-width: 991px) {
      padding: 0px 0px;
    }
  }
}

//  p, h1,h2,h3,h4 {
//   color: #245C4E;
//  }

.testimonials .testimonial-block p {
  color: #00714a;
}
.testimonials .testimonial-block .author-details span {
  color: #00714a;
}
.home-icon {
  width: 30px;
  height: 30px;
}
// .home-icon.storage {
//   transform: rotate(90deg);
// }
@media (max-width: 991px) {
  .heading h2 {
    font-size: 32px;
  }
  .subheading {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .heading h2 {
    font-size: 28px;
  }
  .subheading {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
.gallery.section {
  // background-color: #eceae7;
  .productSlider {
    .product-slider {
      .block {
        img {
          -webkit-transform: scale(0.9);
          transform: scale(0.9);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        }
        &:hover img {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
        }
      }
      h4 {
        @media (max-width: 1366px) {
          font-size: 18px;
          line-height: normal;
        }
        @media (max-width: 1024px) {
          font-size: 16px;
        }
      }
      p.price{
        font-size: 18px;
        @media (max-width: 1366px) {
          font-size: 16px;
          line-height: normal;
        }
        @media (max-width: 1024px) {
          font-size: 16px;
          line-height: normal;
        }
      }
    }
  }
}
.gallery {
  overflow: hidden;
  @media(max-width:991px){
padding-bottom:0;
  }
}

// .gallery-popup img {
//   height: 309px;
// }
.gallery1 {
  overflow: hidden;
  // background-color: #eceae7;
}

.gallery1 .gallery-popup img {
  // width: 150px;
  // height: 150px;
width: auto;
height: auto;
  background: #fff;
  // box-shadow: 0 0 6px #36353540;
  padding: 15px;
  // margin: 15px;
  margin:0 auto;
}
