<!-- preloader start -->
<div class="preloader"></div>
<!-- preloader end -->
<nav class="navbar navbar-expand-lg  navbar-light  sticky-top1">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item" *ngFor="let category of allcategories">

          <a class="nav-link active" aria-current="page" [routerLink]="['/products',category._id,'category']">
            <img class="home-icon {{category.name | lowercase}}" src="{{imageUrl}}/{{category.icon}}" alt="" style="width:50px; display:block; margin:0 auto;">
            {{category.name}}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="customslider">
  <owl-carousel-o [options]="customOptions" *ngIf="config">
    <!-- [ngClass]="{ item: true }" -->
    <ng-container *ngFor="let image of config.image">
      <!-- [ngClass]="{ item: true }" -->
      <ng-template carouselSlide [id]="image+1">
        <img src="{{imageUrl}}/{{image}}">
      </ng-template>
    </ng-container>

  </owl-carousel-o>
</div>

<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2 class="main-heading">Explore Nexa Services</h2>
        </div>
      </div>
      <div class="col-lg-4 col-md-6  align-self-center">
        <div class="image">
          <img class="mb-4" src="{{baseUrl}}/source/images/home/service1.png" alt="">
          <div class="overlay">
            <h4 class="font-weight-bold mb-2">IT SERVICES & SOLUTIONS</h4>
            <p class="textmuted">We install cctv cameras and set up access control systems to enable you to cost
              effectively monitor and protect your business</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6  align-self-center ">
        <div class="image">
          <img class="mb-4" src="{{baseUrl}}/source/images/home/service2.png" alt="">
          <div class="overlay">
            <h4 class="font-weight-bold mb-2">STRUCTURED CABLING</h4>
            <p class="textmuted">We provide structured cabling and Fiber Optics Cabling installation solutions to our
              clients on time, on budget and on their terms.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6  align-self-center">
        <div class="image">
          <img  class="mb-4" src="{{baseUrl}}/source/images/home/service3.png" alt="">
          <div class="overlay">
            <h4 class="font-weight-bold mb-2">ELECTRICAL INSTALLATIONS</h4>
            <p class="textmuted">We offer a wide range of electrical services including installation of low to high
              voltage distribution and end usage devices.

            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6  align-self-center">
        <div class="image">
          <img class="mb-4" src="{{baseUrl}}/source/images/home/service1.png" alt="">
          <div class="overlay">
            <h4 class="font-weight-bold mb-2">VIRTUALIZATION</h4>
            <p class="textmuted">From design to implementation, we intensively engage the client in order to deliver
              streamlined virtual environment that meets all their needs.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6  align-self-center ">
        <div class="image">
          <img class="mb-4" src="{{baseUrl}}/source/images/home/service2.png" alt="">
          <div class="overlay">
            <h4 class="font-weight-bold mb-2">WIRELESS NETWORKS</h4>
            <p class="textmuted">Datalink is well experienced, with certified expertise in deploying wireless LAN
              solutions and structured cabling to enable wireless communication.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6  align-self-center">
        <div class="image">
          <img class="mb-4" src="{{baseUrl}}/source/images/home/service3.png" alt="">
          <div class="overlay">
            <h4 class="font-weight-bold mb-2">DATA CENTERS</h4>
            <p class="textmuted">Datalink helps equip enterprises with data center infrastructure
              (server,storage,network & software) to support business initiatives, competitive capabilities and customer
              experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature-list section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Our Categories</h2>
        </div>
      </div>
    </div>

    <div class="row mb-40" *ngFor="let category of allcategories;let i = index;">
      <div class="col-md-6 text-center mb-5 mb-lg-0" *ngIf="(i%2) == 0">
        <img class="img-fluid" src="{{imageUrl}}/{{category.image}}" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center" *ngIf="(i%2) == 0">
        <div class="content text-center">
          <h4 class="subheading">{{category.name}}</h4>
          <p [innerHtml]="category.description"></p>
          <a class="showbtn" [routerLink]="['/products',category._id,'category']">Show All | Learn More</a>
        </div>
      </div>
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center" *ngIf="(i%2) != 0">
        <div class="content text-center">
          <h4 class="subheading">{{category.name}}</h4>
          <p [innerHtml]="category.description"></p>
          <a class="showbtn" [routerLink]="['/products',category._id,'category']">Show All | Learn More</a>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0" *ngIf="(i%2) != 0">
        <img class="img-fluid" src="{{imageUrl}}/{{category.image}}" alt="">
      </div>
    </div>
  </div>
</section>
<section class="call-to-action section bg-opacity"
  style="background-image: url('assets/source/images/call-to-action.jpg');">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h2 class="subheading text-white">Get Product Updates</h2>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        <div class="input-group">
          <form action="" method="post" class="w-100" name="mc-embedded-subscribe-form" target="_blank">
            <input type="email" id="email" class="form-control" name="email" placeholder="Your Email Address Here"
              required>
            <button class="btn btn-main btn-submit" type="submit" name="subscribe">Subscribe</button>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="" tabindex="-1">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery section" id="products">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center mx-auto p-0">
        <div class="heading">
          <h2>Our Products</h2>
        </div>
        <div class="productSlider">
          <owl-carousel-o [options]="productSlider">
            <!-- [ngClass]="{ item: true }" -->
            <ng-container *ngFor="let prod of products">
              <!-- [ngClass]="{ item: true }" -->

              <ng-template carouselSlide [id]="prod">
                <div class="product-slider">
                  <!-- <div class="block"> -->
                    <!-- <div class="gallery-overlay">
                      <a href="product-details/{{prod._id}}" class="gallery-popup">
                        <i class="tf-ion-plus-round"></i>
                      </a>
                    </div> -->
                    <a href="product-details/{{prod._id}}" class="gallery-popup">
                    <img src="{{imageUrl}}/{{prod.image}}">
                    <!-- {{prod.name}} -->
                  </a>
                  <div class="product-info">
                    <h4 class="mb-2">
                      <a href="product-details/{{prod._id}}" class="link-title">{{prod.name}}</a>
                    </h4>
                    <p class="price"><span>AED</span> {{prod.sale_price}}
                      <s class="price"> <span>AED</span> {{prod.regular_price}}</s>
                    </p>
                  </div>
                  <!-- </div> -->
                </div>
              </ng-template>

            </ng-container>

          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery1 section" id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mx-auto p-0">
        <div class="heading">
          <h2>Our Brands</h2>
        </div>
        <div class="productSlider">
          <owl-carousel-o [options]="brandSlider">
            <ng-container *ngFor="let brand of allbrands">
              <ng-template carouselSlide [id]="brand">
                <div class="brand-slider">
                  <a href="brands/{{brand._id}}" class="gallery-popup">
                    <img src="{{imageUrl}}/{{brand.image}}">
                  </a>
                  <!-- <div class="product-info">
                    <h4 class="mb-2">
                      <a href="products/{{brand._id}}/brand" class="link-title">{{brand.name}}</a>
                    </h4>
                  </div> -->
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonials section" id="testimonial">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading">
          <h2>What our clients say!</h2>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="testimonial-block">
          <i class="tf-ion-quote"></i>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I
            enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for
            the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere
            tranquil existence, that I neglect my talents.</p>
          <div class="author-details">
            <img src="assets/source/images/avater.png" alt="Jonathon Andrew">
            <h4>Jonathon Andrew</h4>
            <span>CEO, Themefisher</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="testimonial-block">
          <i class="tf-ion-quote"></i>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I
            enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for
            the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere
            tranquil existence, that I neglect my talents.</p>
          <div class="author-details">
            <img src="assets/source/images/avater.png" alt="Jonathon Andrew">
            <h4>Jonathon Andrew</h4>
            <span>CEO, Themefisher</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="testimonial-block">
          <i class="tf-ion-quote"></i>
          <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I
            enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for
            the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere
            tranquil existence, that I neglect my talents.</p>
          <div class="author-details">
            <img src="assets/source/images/avater.png" alt="Jonathon Andrew">
            <h4>Jonathon Andrew</h4>
            <span>CEO, Themefisher</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>