.footer-menu a {
  color: #00714a;
}
footer p.copyright-text {
  color: #00714a;
}
footer {
  border-top: 1px solid #d0d0d0;
  // background: #99b9ae;
  background: #fff;
  text-align: left;
  li {
    a {
      // color: #245C4E;
      color: #000;
      padding: 0.375rem 0;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
    a.btn {
      &:hover,
      &:focus {
        text-decoration: underline !important;
      }
    }
  }
  p {
    // color: #245C4E;
    color: #000;
  }
  h5 {
    color: #00714a;
    font-weight: 600;
    @media (max-width: 991px) {
      font-size: 18px;
    }
  }
}
.social-media-icons {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  li {
    padding: 0px 20px;
    a {
      color: #969595;
      font-size: 18px;
      text-decoration: none !important;
      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}
.copyright p {
  color: #969595;
  a {
    color: #fff;
  }
}
.bg-dark1 {
  background: #545554;
}
.home-icon {
  width: 30px;
  height: 30px;
}
.sticky-top2 {
  position: fixed;
  left: 0;
  right: 0;
  // background: #fff;
  margin: 0;
  padding: 0;
  // box-shadow: 0 0 5px silver;
  // border-radius: 50px;
  height: 68px;
  bottom: 50px;
  z-index: 9;
  display: none;
  ul.navbar-nav {
    background: #fff;
    box-shadow: 0 0 5px silver;
    border-radius: 50px;
    @media (max-width: 575px) {
      height: 40px;
    }
  }

  @media (max-width: 991px) {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .nav-link {
    padding: 7px 20px !important;
    @media (max-width: 680px) {
      padding: 5px 12px !important;
    }
    @media (max-width: 575px) {
      padding: 5px 15px !important;
    }   
    @media (max-width: 380px) {
      padding: 5px 10px !important;
    }
    @media (max-width: 360px) {
      padding: 5px 8px !important;
    }
    span {
      font-weight: 400;
    }
  }
  //   .home-icon.storage{
  //     transform: rotate(90deg);
  // }
}
@media (max-width: 991px) {
  .footer {
    img {
      width: 158px;
    }
  }
}
