<nav class="navbar navbar-expand navbar-light  sticky-top2">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item" *ngFor="let category of allcategories;let i=index;">
          <a *ngIf="i<=4" class="nav-link active" aria-current="page" [routerLink]="['/products',category._id,'category']" (mouseenter)="func_1(category)" (mouseleave)="func_11(category)">
            <img class="home-icon cat_{{category.sequence_number}}" src="{{backendUrl}}/{{category.icon}}" alt="" style=" display:block; margin:0 auto;">
           <span class="d-sm-inline-block d-none">{{category.name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Footer Start -->
<footer class="p-0">
  <div class="container-fluid footer mb-lg-5 mb-md-5 mt-sm-0 mt-0 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 mb-lg-0 mb-md-5 mb-4">
          <a href="index.html" class="mb-4 d-inline-block"> 
            <img src="assets/source/images/logo.png" alt="logo"
              width="180px"> </a>
          <h5 class="mb-lg-4 mb-md-2 mb-2">Address</h5>
          <p class="mb-2"><i class="fa fa-map-marker me-3"></i> Zenath Building, Office #113, Frij Murar, PO box :80137, Dubai, UAE</p>
          <p class="mb-2 d-flex align-items-center"><i class="fa fa-mobile me-3 cstmbl"></i> +971 4 397 3040</p>
          <p class="mb-2"><i class="fa fa-phone me-3" aria-hidden="true"></i> 04 2273370 </p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i> sales@nexait.ae</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 mb-lg-0 mb-md-5 mb-4">
          <h5 class="mb-lg-4 mb-md-2 mb-2">Services</h5>
          <ul>
            <li><a class="btn btn-link" href="services#our-services">Business Security</a></li>
            <li><a class="btn btn-link" href="services#our-services">Fire Detection</a></li>
            <li><a class="btn btn-link" href="services#our-services">Alarm Systems</a></li>
            <li><a class="btn btn-link" href="services#our-services">CCTV & Video</a></li>
            <li><a class="btn btn-link" href="services#our-services">Smart Home</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2">
          <h5 class="mb-lg-4 mb-md-2 mb-2">Categories</h5>
          <ul class="d-lg-block d-md-flex d-sm-flex d-flex flex-wrap align-items-center">
            <li *ngFor="let category of allcategories; let i = index" class="mr-lg-0 mr-md-2 mr-sm-2 mr-2">
              <a class="btn btn-link" *ngIf="i <= 4" [routerLink]="['/products',category._id,'category']">{{category.name}}</a>
            </li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2">
          <h5 class="mb-lg-4 mb-md-2 mb-2">More Categories</h5>
          <ul class="d-lg-block d-md-flex d-sm-flex d-flex flex-wrap align-items-center">
            <li *ngFor="let category of allcategories; let i = index" class="mr-lg-0 mr-md-2 mr-sm-2 mr-2">
              <a class="btn btn-link" *ngIf="i >= 5" [routerLink]="['/products',category._id,'category']">{{category.name}}</a>
            </li>
          </ul>
        </div> -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-6 order-lg-2 order-md-1 order-sm-1 order-1">
          <h5 class="mb-lg-4 mb-md-2 mb-2">Quick Links</h5>
          <ul>
            <li><a class="btn btn-link" [routerLink]="['/about']">About Us</a></li>
            <li><a class="btn btn-link" [routerLink]="['/contact']">Contact Us</a></li>
            <li><a class="btn btn-link" [routerLink]="['/services']">Services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End -->
  <!-- Footer Bottom -->
  <div class="bg-dark1 text-center m-auto">
    <!-- Container Start -->
    <div class="container-xl container-fluid-lg">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-12">
          <div class="copyright">
          <p class="mb-0 py-3">&copy; Copyright {{currentYear}}. Nexait Technologies</p>
        </div>
        </div>
        <div class="col-md-4 col-sm-12 col-12 text-center text-lg-left mb-0 mb-lg-0">
           <!-- Social Icons -->
           <ul class="social-media-icons text-center text-lg-right">
            <li><a class="fa fa-facebook" href="#"></a></li>
            <li><a class="fa fa-twitter" href="#"></a></li>
            <li><a class="fa fa-instagram" href="#"></a></li>
            <!-- <li><a class="fa fa-github-alt" href="#"></a></li> -->
          </ul>
        </div>
        <div class="col-md-4 col-sm-12 col-12">
          <!-- Copyright -->
          <div class="copyright">
            <p class="mb-0 py-3"> <span class="">Designed & Developed by <a class="text-white" href="https://pixtar.ae" target="_blank">Pixtar.ae</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </div>
</footer>